body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 5px;
}

#chartView {
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#currentRate {
    font-size: 1.2em;
    align-self: flex-start;
    margin-bottom: 20px;
}

#exchangeRateChart {
    display: block;
    box-sizing: border-box;
    height: 300px;
    width: 900px;
}

#conversionSection {
    margin-top: 20px;
}

#conversionResult {
    margin-top: 10px;
}

input {
    padding: 5px;
    font-size: 1em;
}

button {
    padding: 5px 10px;
    font-size: 1em;
    margin-left: 10px;
    cursor: pointer;
}